.container-fluid {
    margin:0.5rem;
}
.param{
    display:flex;
    flex-direction:column;
    margin-bottom:3vh;
}
.heading {
    font-size: 3rem;
    color:#292058;
    background-color:#a29a78;
}

#searchform {
    order:2;
    align-self: center;
    padding-top:3vh;
}

#searchtitle, #searchyear, #searchid {   
    border-color: #a29a78;    
}

.card {
    width:60vw;
}

@media only screen and (min-width: 300px) and (max-width: 620px) {
    .container-fluid {
        margin:0.3rem;
    }
    .param {
        font-size: 2rem;
    }
    
}